aniso8601
asgiref
beautifulsoup4
django
django-bootstrap
django-bootstrap4
django-crispy-forms
django-environ
django-forms-bootstrap
graphene
graphene-django
graphene-file-upload
graphql-core
graphql-relay
mysqlclient
promise
pytz
Rx
singledispatch
six
soupsieve
sqlparse
Unidecode
