aniso8601==7.0.0
asgiref==3.3.1
beautifulsoup4==4.9.3
Django==3.1.3
django-bootstrap==0.2.4
django-bootstrap4==2.3.1
django-crispy-forms==1.10.0
django-environ==0.4.5
django-forms-bootstrap==3.1.0
graphene==2.1.8
graphene-django==2.13.0
graphene-file-upload==1.2.2
graphql-core==2.3.2
graphql-relay==2.0.1
mysqlclient==2.0.1
promise==2.3
pytz==2020.4
Rx==1.6.1
singledispatch==3.4.0.3
six==1.15.0
soupsieve==2.0.1
sqlparse==0.4.1
Unidecode==1.1.1
