{% extends 'assignments/assignment_base.html' %}
{% load bootstrap4 %}

{% block main_content %}
    <div class="container">
        <h1>{{assignment.assignment_name}}</h1>
        <h2>{{assignment.assignment_description}}</h2>
        <h3>Course: {{assignment.course}}</h3>
        <h4>Start Date: {{assignment.start_date}}</h4>
        <h4>Due Date: {{assignment.due_date}} {{assignment.due_time}}</h4>
        
        {% if user.user_type == 2 %}
            <a href="{% url 'assignments:update' pk=assignment.pk %}" class="btn btn-warning btn-lg">Update</a>
            <a href="{% url 'assignments:delete' pk=assignment.pk %}" class="btn btn-danger btn-lg">Delete</a>

            <h3>Submissions</h3>
            
            {% for submissions in submitted %}
                <a href="{% url 'assignments:submit_detail' pk=submissions.pk %}" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{submissions.topic}}</h5>
                    <small>{{submissions.author}}</small>
                    </div>
                    <p class="mb-1">
                    {{submissions.description}}
                    </p>
                    <small>Start Date: {{submissions.submitted_date}}</small><br>
                </a>
            {% endfor %}
                

        {% else %}            
            {% if assignment.course in course %}
                {% if duedate.year >= time.year %}
                    {% if duedate.month >= time.month %}
                        {% if duedate.day >= time.day %}
                            {% if duetime.hour >= time.hour %}
                                {% if duetime.minute >= time.minute %}
                                    <a href="{% url 'assignments:submit' %}" class="btn btn-success btn-lg">Submit Assignment</a>
                                {% endif %}
                            {% endif %}
                        {% endif %}      
                    {% endif %}
                {% endif %}
                <div>
                <h3>My Submissions:</h3>
                
                {% for submissions in submitted %}
                    {% if submissions.author.id == user.id %}
                        <a href="{% url 'assignments:submit_detail' pk=submissions.pk %}" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{submissions.topic}}</h5>
                            <small>{{submissions.author}}</small>
                            </div>
                            <p class="mb-1">
                            {{submissions.description}}
                            </p>
                            <small>Start Date: {{submissions.submitted_date}}</small><br>
                        </a>
                    {% endif %}
                {% endfor %}
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock main_content %}
    