{% extends 'assignments/assignment_base.html' %}
{% load bootstrap4 %}

{% block title_name %}
  LMS - Create Resource
{% endblock title_name %}
  
{% block main_content %}

<div class="container">
  <h1>Assignment</h1>

  {% if user.user_type == 2 %}
    <form method="POST" action="{% url 'assignments:create' %}">
      {% csrf_token %} 
      {% bootstrap_field form.assignment_name %}
      {% bootstrap_field form.assignment_description %}
      {% bootstrap_field form.due_date %}
      {% bootstrap_field form.course %}
      {{ form.name.errors }}
      <input type="submit" value="Submit" class="btn btn-success btn-lg">
    </form>
    
    
    {% else %}
        <div class="jumbotron">
            <h2>You cannot create an assignment</h2>
        </div>
    {% endif %}

</div>
{% endblock main_content %}
