{% extends 'assignments/assignment_base.html' %}
{% load bootstrap4 %}

{% block main_content %}
    
    {% if user.user_type == 2 %}
        <div class="container">
            <div class="jumbotron">
                <h2>Only students are allowed to submit assignments</h2>
            </div>
        </div>
    {% else %}
            
        <div class="container">
            <h2>Submit Assignment</h2>
            <form action="{% url 'assignments:submit' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                {{ form.name.errors }}
                
                {% if duedate.year >= time.year %}
                    {% if duedate.month >= time.month %}
                        {% if duedate.day >= time.day %}
                            {% if duetime.hour >= time.hour %}
                                {% if duetime.minute >= time.minute %}
                                    <input type="submit" value="Submit" class="btn btn-warning btn-lg">
                                {% endif %}
                            {% endif %}
                        {% endif %}      
                    {% endif %}
                {% endif %}
            </form>
            <ul>
            </ul> 
        </div>
    {% endif %}
        
{% endblock main_content %}
    