{% extends 'assignments/assignment_base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title_name %}
    LMS - {{submissions.topic}}
{% endblock title_name %}
    


{% block main_content %}
    <div class="container">
        {% if submissions.assignment_ques.course.teacher.id == user.id or submissions.author.id == user.id %}
            <h1>{{submissions.topic}}</h1>
            <h4>Submitted by: {{submissions.author}}</h4>
            <h6>Submitted On: {{submissions.submitted_date}}</h6>
            <p>Description: {{submissions.description}}</p>
            <p>Submission: {{submissions.assignment_file.name}}</p>
             
            <a href="{{submissions.assignment_file.url}}" class="btn btn-lg btn-primary" download>Download</a>
            <div class="grade">
                {% if submissions.graded == False %}
                    <p>This assignment has not been graded yet.</p>
                {% else %}
                    <p>This assignment has been graded.</p>
                    <p>Grade: {{submissions.grade}}</p>
                {% endif %}
            </div>
                
            
            
            {% if user.user_type == 1 and submissions.graded == False %}
                <div>
                    <form method="POST">
                        {% csrf_token %}
                        <a href="{% url 'assignments:submit_delete' pk=submissions.pk %}" 
                        class="btn btn-danger btn-lg">Delete</a>
                    </form>
                    
                </div>
            {% else %}
                
                {% if submissions.assignment_ques.course.teacher.id == user.id %}
                    {% if submissions.graded == False %}
                        <div>
                            <a href="{% url 'assignments:grade' pk=submissions.pk %}" 
                            class="btn btn-success btn-lg">Grade</a>
                        </div>
                    {% endif %}
                {% endif %}

            {% endif %}
                
        {% else %}
            <div class="jumbotron">
                <h2>You cannot view this assignment.</h2>
            </div>
        {% endif %}
    </div>
{% endblock main_content %}
    