{% extends 'assignments/assignment_base.html' %}
{% load bootstrap4 %}

{% block main_content %}
    
    {% if user.user_type == 2 %}
        <div class="container">
            <div class="jumbotron">
                <h2>Only students are allowed to submit assignments</h2>
            </div>
        </div>
    {% else %}
            
        <div class="container">
            <h2>Submit Assignment</h2>
            <form action="{% url 'assignments:submit' %}" method="POST">
                {% csrf_token %}
                {% bootstrap_form form %}
                {{ form.name.errors }}
                <input type="submit" value="Submit" class="btn btn-warning btn-lg">
            </form>
            <ul>
            {% for document in documents %}
                <li>
                    <a href="{{ document.assignment_file.url }}">{{document.assignment_file.name}}</a>
                    <small>({{ document.assignment_file.size|filesizeformat }}) - {{document.upload_date}}</small>
                </li>
            {% endfor %}
            </ul> 
        </div>
    {% endif %}
        
{% endblock main_content %}
    