{% extends 'assignments/assignment_base.html' %}

{% block title_name %}
    LMS - Confirmation
{% endblock title_name %}
    

{% block main_content %}
    {% if user.user_type == 1 and submission.author.id == user.id %}
        <div class="bg-white w-[70%] shadow-lg mt-[150px]">
            <div class="jumbotron">
                <h2 class="font-sans text-2xl">Are you sure you want to delete this submission?</h2>
                <form method="post">
                    {% csrf_token %}
                    <input type="submit" value="Confirm Delete" class="bg-red-600 m-2 text-white hover:bg-red-500 p-2 rounded-md text-md font-extrabold hover:no-underline">
                    <a href="{% url 'assignments:submit_detail' pk=submission.pk %}" class="bg-cyan-950 m-2 text-white hover:bg-yellow-500 p-2 rounded-md text-md font-extrabold hover:no-underline">Cancel</a>
                </form>
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="jumbotron">
                <h2>You are not allowed to delete the submission</h2>
            </div>
        </div>
    {% endif %}
        
{% endblock main_content %}
    