{% extends 'base.html' %}
{% load bootstrap4 %}
{% load socialaccount %}

{% load static %}
<link href="{% static 'css/compiled.css' %}" rel="stylesheet">

{% block title %}
    LMS - Login
{% endblock title %}
    

{% block body_content %}
    
    {% if user.is_authenticated %}
        <div class="bg-yellow-200 p-2 rounded-2xl relative top-[150px] w-[50%] mx-auto">
            <div class="text-red-700 font-serif w-auto font-extrabold text-md items-center justify-center mx-auto flex">
                <h2 class="font-serif text-xl w-auto">You are already logged in. Please logout to sign in as a different user!!</h2>
            </div>
        </div>
    
    {% else %}

    <div class="container shadow-lg p-5 rounded-xl font-serif w-auto left-[45px] lg:left-0 lg:w-[500px] lg:relative absolute mx-auto items-center justify-center">
        <h1 class="mx-auto font-serif font-extrabold items-center justify-center flex text-2xl uppercase mb-5">Log In</h1>
        <form method="POST" class="i">
            {% csrf_token %}
            {% bootstrap_form form %}
            
            <div class="flex flex-col mx-auto lg:flex lg:flex-row items-center justify-center space-y-3">
                <div class="items-start mb-2 lg:mb-0 lg:mr-4">
                    <input type="submit" class="bg-transparent rounded-md font-semibold text-black hover:shadow-lg p-2 m-2 shadow-md" value="Login">
                </div>
                <div class="items-center flex my-auto justify-between space-x-2 m-2 bg-transparent shadow-md rounded-md font-semibold text-black hover:shadow-lg p-2 ">
                    <img src="{% static 'django_lms/images/google.png' %}" class="w-5 my-auto mr-1"/>
                    <a href="{% provider_login_url 'google' %}"> Sign in With Google</a>
                    <!-- <input type="submit" class="" value="Sign in With Google"> -->
                </div>
                <div class="items-end flex my-auto justify-between space-x-2 bg-transparent rounded-md font-semibold text-black hover:black hover:shadow-lg p-2 m-2 shadow-md">
                    <img src="{% static 'django_lms/images/github.svg' %}" class="w-5 my-auto mr-1"/>
                    <a href="{% provider_login_url 'github' %}"> Sign in With Github</a>
                </div>
            </div>
        </form>
    </div>

    {% endif %}

{% endblock body_content %}
