{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}
    LMS - Signup
{% endblock title %}  



{% block body_content %}
    <div class="lg:mt-[20px] absolute lg:relative w-[95%] left-2 mx-auto items-center justify-center lg:items-start lg:justify-start lg:w-[72%] shadow-lg p-5 rounded-xl font-serif">
        <h1 class="mx-auto font-serif font-extrabold items-center justify-center flex text-2xl uppercase">Sign Up</h1>
        <form method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" class="bg-gray-100 rounded-md font-semibold text-black hover:shadow-lg p-2 m-2 shadow-md" value="Sign Up">
        </form>
    </div>
{% endblock body_content %}