{% extends 'courses/course_base.html' %}
{% load bootstrap4 %}

{% block title_name %}
    LMS - Create Course
{% endblock title_name %}
    

{% block main_content %}
    <h1 class="font-sans font-extrabold text-3xl m-2">Create new Course</h1>
    
    {% if user_type == 2 %}
        <form action="{% url 'courses:create' %}" method="POST" class="p-3 rounded-lg shadow-lg">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" value="Create" class="bg-green-500 m-2 text-white hover:bg-green-800 p-2 rounded-md text-md font-extrabold"/>
        </form>
    {% else %}
        <div class="jumbotron">
            <h2>Oops! You need to be Teacher to access this page.</h2>
        </div>
    {% endif %}
        
{% endblock main_content %}
    