{% extends 'courses/course_base.html' %} 


{% block title_name %}
  LMS - {{course.course_name}}
{% endblock title_name %}

{% block main_content %}
<h1 class="font-sans font-semibold text-3xl m-2">{{course.course_name}}</h1>
<h4 class="text-xl m-2">Teacher: {{course.teacher}}</h4>
<p class="text-xl m-2">Description: {{course.course_description}}</p>

{% if user.user_type == 1 %} {%if user in course.students.all%}
<a
  href="{% url 'courses:unenroll' pk=course.pk %}"
  class="bg-red-600 m-2 text-white hover:bg-red-800 p-2 rounded-md text-md font-extrabold hover:no-underline"
  >Unenroll</a
>
{% else %}
<a href="{% url 'courses:enroll' pk=course.pk %}" class="bg-green-600 m-2 text-white hover:bg-green-800 p-2 rounded-md text-md font-extrabold hover:no-underline"
  >Enroll</a
>
{% endif %} 
{% endif %}

{% if course.teacher.id == user.id or user in course.students.all%}
  {% if user.user_type == 2 %}
    <a
      href="{% url 'assignments:create' %}"
      class="bg-yellow-500 rounded-md font-semibold text-black hover:text-white hover:bg-black p-2 m-2 shadow-lg text-2xl"
    >
      <i class="fa fa-plus-circle" aria-hidden="true"> Create New Assignment</i>
    </a>
    <a
      href="{% url 'resources:create' %}"
      class="bg-blue-900 rounded-md font-semibold text-white hover:text-black hover:shadow-xl hover:bg-gray-400 p-2 m-2 shadow-lg text-2xl"
    >
      <i class="fa fa-plus-circle" aria-hidden="true"> Create New Resource</i>
    </a>
  {% endif %}
    
  <div class="assignments">
    <h3 class="font-sans font-semibold text-3xl">Assignments</h3>
    <ul class="list-group" class="bg-slate-300">
      {% for assignment in assignments %}
      <a href="{% url 'assignments:detail' pk=assignment.pk %}" class="list-group-item list-group-item-action ">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1 font-semibold font-serif">{{assignment.assignment_name}}</h5>
        </div>
        <p class="mb-1 font-semibold">
          {{assignment.assignment_description}}
        </p>
        <small>Start Date: {{assignment.start_date}}</small><br>
        <small>Due Date: {{assignment.due_date}} {{assignment.due_time}}</small>
      </a>
      {% empty %}
      <h6>No Assignments</h6>
      {% endfor %}
    </ul>
  </div>
  <div class="resources">
    <h3 class="font-sans font-2xl font-semibold m-2">Resources</h3>
    <!-- {% include 'assignments/assignment_list.html' %} -->
    <ul class="list-group">
      {% for resource in resources %}
      <div  class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{resource.resource_name}}</h5>
        </div>
        <p class="mb-1">
          Submission: {{resource.resource_file.name}}
          <a href="{{resource.resource_file.url}}" class="bg-green-600 m-2 text-white hover:bg-green-800 p-2 rounded-md text-md font-extrabold hover:no-underline" download>Download</a>
        </p>
        
        {% if user.id == course.teacher.id %}
          <small><a href="{% url 'resources:delete' pk=resource.pk %}" class="bg-red-600 m-2 text-white hover:bg-red-800 p-2 rounded-md text-md font-extrabold hover:no-underline">Delete</a></small>
        {% endif %}
      </div>
      {% empty %}
        <h6 class="font-extralight font-serif text-gray-400">No Resources</h6>
      {% endfor %}
    </ul>
  </div>
{% endif %}
  
{% endblock main_content %}