{% extends 'courses/course_base.html' %}

{% load bootstrap4 %}

{% block title_name %}
    LMS - Update Course
{% endblock title_name %}

{% block content %}
<div class="container">
    <h1 class="font-sans font-semibold text-3xl m-2">Updating Course</h1>
  
    {% if user.user_type == 2 %}
      <form method="POST" action="{% url 'courses:update_course' %}" class="shadow-lg p-4 rounded-xl font-sans font-semibold m-2">
        {% csrf_token %} 
        {% bootstrap_field form.course_name %}
        {% bootstrap_field form.course_description %}
        {{ form.name.errors }}
        <input type="submit" value="Submit" class="bg-green-600 m-2 text-white hover:bg-green-800 p-2 rounded-md text-md font-extrabold hover:no-underline">
      </form>
      
      
      {% else %}
          <div class="jumbotron">
              <h2>You cannot update this Section </h2>
          </div>
      {% endif %}
  
  </div>
{% endblock %}