.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 20%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #093568; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'DM Sans', sans-serif;
}
p, a {
  font-family: 'Raleway', 'sans-serif';
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #999999;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.content {
  margin-top: 2em;
  margin-left: 22%;
  margin-bottom: 2em;
  margin-right: 2em;
}

.sidemenu {
  display: block;
  color: #f4f4f4;
}

.side-element {
  
  text-align: center;
}

i {
  margin: 0.2em;
}

.side-items {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

#side-head {
  margin-top: 0.5em;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #f3f3f3;
}

.course-item a{
  font-size: 18px;
}

.button-stretch{
  margin: 3% 0% 1% 0%;
}

.card-deck, .assignments, .submissions, .grade {
  margin:3% 0% 3% 0%
}

.resources {
  margin-bottom: 1%;
}

.index-image {
  height: 100%;
}

.index-button {
  margin-top: 2em;
}