{% extends 'resources/resource_base.html' %}
{% load bootstrap4 %}

{% block title_name %}
    LMS - Create Resource
{% endblock title_name %}
    

{% block main_content %}
    
<div class="container">
    <h1>Resource</h1>

    
    {% if user.user_type == 2 %}
        <form method="POST" action="{% url 'resources:create' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            {{ form.name.errors }}
            <input type="submit" value="Submit" class="btn btn-success btn-lg">
        </form>
    {% else %}
        <div class="jumbotron">
            <h2>You cannot create a resource</h2>
        </div>
    {% endif %}
        
</div>

{% endblock main_content %}
    