{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        
        {% block title %}
            
        {% endblock title %}
        
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Raleway&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'django_lms/css/master.css' %}" />
</head>
<body>
    <div class="bg-light index-image">
        <div class="container py-5">
            <div class="row align-items-center py-5">
            <div class="col-lg-6">
                <h1 class="display-4">Learning Management System</h1>
                <p class="lead text-muted mb-0">Your one-stop solution to online learning.</p>
                <p><a href="{% url 'courses:list' %}" class="btn btn-primary btn-lg index-button">View All Courses</button></a>
            </div>
            <div class="col-lg-6 d-none d-lg-block"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/illus_kftyh4.png" alt="" class="img-fluid"></div>
            </div>
        </div>
    </div>
</body>
</html>