{% extends 'base.html' %}


{% block body_content %}
    <div class="container">
        {% if user.is_authenticated %}
            Username: {{user.username}}
            First Name: {{user.first_name}}
            Last Name: {{user.last_name}}
            Email: {{user.email}}
            Type: 
            {% if user.user_type == 1 %}
                Student
            {% else %}
                Teacher                
            {% endif %}
                
            {% if user.user_type == 2 %}
                {% for course in course_list %}
                    
                    {% if course.teacher.id == user.id %}
                        <div class="card" style="width: 18rem">
                            <div class="card-body">
                            <h5 class="card-title">{{course.course_name}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{course.teacher}}</h6>
                            <p class="card-text">
                                {{course.course_description}}
                            </p>
                            <a href="{% url 'courses:detail' pk=course.pk %}" 
                            class="btn btn-primary card-link">More Info</a>
                            <p>{{course.students.count}}
                                    member{{course.students.count|pluralize}}</p>
                            </div>
                        </div>
                    {% endif %}
                {% empty %}
                    <div class="jumbotron">
                        You have not created any courses yet.
                    </div>
                {% endfor %}
            {% elif user.user_type == 1 %}
                {% for course in course_list %}
                    
                    {% if user in course.students.all %}
                        <div class="card" style="width: 18rem">
                            <div class="card-body">
                            <h5 class="card-title">{{course.course_name}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{course.teacher}}</h6>
                            <p class="card-text">
                                {{course.course_description}}
                            </p>
                            <a href="{% url 'courses:detail' pk=course.pk %}" class="btn btn-primary card-link">More Info</a>
                            <a href="{% url 'courses:unenroll' pk=course.pk %}" class="btn btn-danger card-link">Unenroll</a>
                            <p>{{course.students.count}}
                                    member{{course.students.count|pluralize}}</p>
                            </div>
                        </div>
                    {% endif %}
                {% empty %}
                    <div class="jumbotron">
                        You have not enrolled in any courses yet.
                    </div>
                {% endfor %}
            {% endif %}
        {% else %}
            <div class="jumbotron">
                You cannot access this profile.
            </div>
        {% endif %}

    </div>
{% endblock body_content %}
    