{% extends 'base.html' %}
{% load static tailwind_tags %}
{% load static %}




{% block title %}
    LMS - Profile
{% endblock title %}
    

{% block body_content %}
    <div class="mt-[150px] ml-3 w-[72%] text-cyan-950 font-serif bg-transparent overflow-auto h-[850px]">
        {% if user.is_authenticated %}
        {% if user.profile.picture %}
        <img src="{{ user.profile.picture.url }}" alt="User Picture" class="rounded-full h-[100px] mb-4">
        
        {% else %}
            <i class="fa fa-user-circle-o fa-5x" aria-hidden="true"></i>
        {% endif %}
            {% comment %} <p>{{ user.}}</p> {% endcomment %}
            <h1 class="text-3xl font-semibold">Username: {{user.username}}</h1>
            <h4 class="text-xl">First Name: {{user.first_name}}</h4>
            <h4 class="text-xl">Last Name: {{user.last_name}}</h4>
            
            <h4 class="text-xl">Type: 
            {% if user.user_type == 1 %}
                Student
            {% else %}
                Teacher                
            {% endif %}
            </h4>
            <h5 class="text-xl">Email: {{user.email}}</h5>
        
            {% if user.user_type == 2 %}
            {% comment %} <h3 class="font-sans text-2xl mt-5">Created Courses</h3> {% endcomment %}
                <div class="card-deck">
                {% for course in course_list %}
                    
                    {% if course.teacher.id == user.id %}
                        <div class="bg-black bg-opacity-40 m-2 shadow-md rounded-md" style="width: 20rem">
                            <div class="card-image">
                                <!-- Place your image here -->
                                <img src="{% static 'django_lms/images/web5.jpg' %}" alt="Course Image" class="w-full h-50 object-cover rounded-t-md" />
                              </div>
                            <div class="card-body p-4">
                            <h5 class="card-title">{{course.course_name}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{course.teacher}}</h6>
                            <p class="card-text">
                                {{course.course_description}}
                            </p>
                            <a href="{% url 'courses:detail' pk=course.pk %}" 
                            class="bg-blue-950 text-white m-2 p-2 hover:bg-yellow-400 rounded-md text-md font-extrabold hover:no-underline">More Info</a>
                            <p class="m-2">{{course.students.count}}
                                    member{{course.students.count|pluralize}}</p>
                            </div>
                        </div>
                    {% endif %}
                
                {% empty %}
                    <div class="jumbotron">
                        You have not created any courses yet.
                    </div>
                {% endfor %}
                </div>
            {% elif user.user_type == 1 %}
            <h3 class="font-sans text-2xl mt-5">Enrolled Courses</h3>
            <div class="card-deck">
                {% for course in course_list %}
                    
                    {% if user in course.students.all %}
                    <div class="bg-black bg-opacity-40 m-2 shadow-md rounded-md" style="width: 20rem">
                        <div class="card-image">
                          <!-- Place your image here -->
                          <img src="{% static 'django_lms/images/landing12.jpg' %}" alt="Course Image" class="w-full h-50 object-cover rounded-t-md" />
                        </div>
                        <div class="card-body p-4">
                          <h5 class="card-title">{{course.course_name}}</h5>
                          <h6 class="card-subtitle mb-2 text-muted">{{course.teacher}}</h6>
                          <p class="card-text">
                            {{course.course_description}}
                          </p>
                          <a href="{% url 'courses:detail' pk=course.pk %}" class="bg-blue-950 text-white m-2 p-2 hover:bg-yellow-400 rounded-md text-md font-extrabold hover:no-underline">More Info</a>
                          <a href="{% url 'courses:unenroll' pk=course.pk %}" class="bg-red-600 m-2 text-white hover:bg-red-800 p-2 rounded-md text-md font-extrabold hover:no-underline">Unenroll</a>
                          <p class="m-2">{{course.students.count}} member{{course.students.count|pluralize}}</p>
                        </div>
                      </div>
                      
                    {% endif %}
               
                {% empty %}
                    <div class="jumbotron">
                        You have not enrolled in any courses yet.
                    </div>
                {% endfor %}
            </div>
            {% if user.user_type == 1 and user.is_authenticated %}
            <!-- New section for completed courses -->
            <h3 class="font-sans text-2xl text-cyan-950 mt-5">My Achievements</h3>
            {% comment %} {% for course in completed_courses %} {% endcomment %}
            <div class="bg-green-500 m-2 shadow-md rounded-md" style="width: 20rem">
                <div class="card-image">
                  <!-- Place your image here -->
                  <img src="{% static 'django_lms/images/achievement_image.jpg' %}" alt="Achievement Image" class="w-full h-50 object-cover rounded-t-md" />
                </div>
                <div class="card-body p-4">
                    {% for completed_course in completed_courses %}
                        <h5 class="card-title text-red-900">{{ course.course_name }}</h5>
                        <p>Debug: {{ course }}</p>
                    {% endfor %}
                  <p class="card-text">
                    Congratulations! You have successfully completed this course.
                  </p>
                  <!-- Additional details or buttons can be added here -->
                  {% comment %} <a href="{% url 'courses:detail' pk=course.pk %}" class="text-blue-500 hover:underline">View Course</a> {% endcomment %}
                </div>
            </div>
        {% comment %} {% endfor %} {% endcomment %}
        {% endif %}
            {% endif %}
        {% else %}
            <div class="jumbotron">
                You cannot access this profile.
            </div>
        {% endif %}

    </div>
{% endblock body_content %}
    